.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.bodyContainer {
  display: flex;
  background-color: #f4f9fc;
  width: 90vw;
  height: 90vh;
  justify-content: center;
}

.divImageText {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.titlePresentation {
  font-size: 5rem;
  font-weight: 600;
}

.titleSecundaryPresentation {
  font-size: 1.6rem;
  font-weight: 400;
}

.divSocial {
  display: flex;
  margin-top: 1.5rem;
}
